.sheet-container-custom {
    height: 80%!important;
}
.title {
    text-align: center;
    font-size: 24px;
}
.li-item {
    margin: 20px;
    border: 1px solid black;
    font-size: 20px;
    padding: 20px;
}

.close {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: lightgray;
    border-radius: 5%;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5454545454545;
}
.icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 5454545454545;
}